@{
    ViewData["Title"] = "Bad link";
}

<section class="ftco-section contact-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Link</span>
                <h2 class="mb-4">Has Expired</h2>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-12 ftco-animate mb-3">
                The link you followed has expired and not valid anymore
            </div>
            <div class="col-12 ftco-animate h1">
                <i class="icon-alarm_on"></i>
                <i class="icon-alarm_on"></i>
                <i class="icon-alarm_on"></i>
            </div>
            <div class="col-12 ftco-animate">
                <div class="form-group mt-2">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary py-3 px-5" rel="noopener noreferrer">
                        Back to Homepage
                    </a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
