@model AutoServiceMVC.Models.Login

@{
    ViewData["Title"] = "Login";
}

<section class="ftco-section contact-section">
	<div class="container mt-5">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Login</span>
				<h2 class="mb-4">Become Coffeer</h2>
			</div>
		</div>

		<div class="row block-9">
			<div class="col-md-2"></div>
			<div class="col-md-3 contact-info ftco-animate">
				<div class="row">
					<div class="col-md-12 mb-2">
						<h2 class="h4">Login by Google</h2>
					</div>
					<div class="col-md-12 mb-3">
						<ul class="ftco-footer-social list-unstyled float-lft">
							<li class="ftco-animate"><a asp-controller="Auth" asp-action="LoginGoogle"><span class="icon-google"></span></a></li>
							@*<li class="ftco-animate"><a asp-controller="Auth" asp-action="LoginFacebook"><span class="icon-facebook"></span></a></li>*@
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-4 ftco-animate">
				<form asp-controller="Auth" asp-action="Login" class="contact-form">
					<div class="form-group">
						<input asp-for="Username" type="text" class="form-control" placeholder="Username">
						<span asp-validation-for="Username" class="text-white"></span>
					</div>
					<div class="form-group">
						<input asp-for="Password" type="password" class="form-control" placeholder="Password">
						<span asp-validation-for="Password" class="text-white"></span>
					</div>

					<div class="form-group row">
						<div class="col-md-6">
							<a asp-controller="Auth" asp-action="IdentityMail">Forgot password?</a>
						</div>
						<div class="col-md-6">
							<a asp-controller="Auth" asp-action="Register">Become coffeer</a>
						</div>
					</div>

					<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
					
					<div class="form-group mt-2">
						<input type="submit" value="Login" class="btn btn-primary py-3 px-5">
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
