@model AutoServiceMVC.Models.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<section class="ftco-section contact-section">
	<div class="container mt-5">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Forgetful</span>
				<h2 class="mb-4">Return Coffeer</h2>
			</div>
		</div>

		<div class="row block-9">
			<div class="col-md-4"></div>
			<div class="col-md-4 ftco-animate">
				<form asp-controller="Auth" asp-action="ResetPassword" class="contact-form">
					<input asp-for="UserId" type="hidden" value="@ViewData["UserId"]" />
					<div class="form-group">
						<input class="form-control" value="@ViewData["Username"]" disabled>
					</div>
					<div class="form-group">
						<input asp-for="Password" class="form-control" placeholder="Password">
						<span asp-validation-for="Password" class="text-white"></span>
					</div>
					<div class="form-group">
						<input asp-for="AgainPassword" class="form-control" placeholder="Re-enter Password">
						<span asp-validation-for="AgainPassword" class="text-white"></span>
					</div>

					<div class="form-group">
						<a asp-controller="Auth" asp-action="Login">You remembered</a>
					</div>

					<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

					<div class="form-group mt-2">
						<input type="submit" value="Return coffeer" class="btn btn-primary py-3 px-5">
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>
