@{
    ViewData["Title"] = "Verify email";
}

<section class="ftco-section contact-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Verify</span>
                <h2 class="mb-4">Your Email</h2>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-12 ftco-animate">
                <div class="p-3 h4 font-weight-bold">The confirmation email can be in your spam box</div>
            </div>
            <div class="col-12 ftco-animate">
                <div class="form-group mt-2">
                    <a href="https://mail.google.com/mail/u/0/" class="btn btn-primary py-3 px-5" target="_blank" rel="noopener noreferrer">
                        Checking your email
                    </a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
