@using AutoServiceMVC.Services.System;
@inject ISessionCustom session

@{
    var table = session.GetSessionValue<Table>(Context, "table");
}

<div class="container-wrap ftco-intro position-fixed" style="bottom: 0; right: 0; z-index:4;">
    <div class="wrap d-md-flex align-items-xl-end">
        <div class="book p-3 shadow" style="border-top-left-radius: 0.25em;">
            <div class="notbooktable shadow container-wrap ftco-intro position-fixed  @(table != null ? "d-none" : "")" style="bottom: 0; right: 0;">
                <div class="wrap d-md-flex align-items-xl-end">
                    <div class="book p-3" style="border-top-left-radius: 0.25em; padding-bottom: 0px !important; padding-top: 0px !important;">
                        <h3 id="tableheader" style="padding-top: 15px; cursor: pointer;">Book a Table</h3>
                        <div class="appointment-form table-form d-none">
                            <div class="d-md-flex row">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control tablecode" placeholder="Table Code">
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 mb-1">
                                            <input type="button" value="Book" class="bookbutton btn btn-white btn-outline-white boxshadown-hover p-3">
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" data-toggle="modal" data-target="#scan_qr"
                                                    class="scanbutton btn btn-white btn-outline-white boxshadown-hover p-3">
                                                Scan QR
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="booktable @(table == null ? "d-none" : "")">
                    Your table: @table?.TableName
                    <a href="#" class="exit-table text-white" onclick="event.preventDefault(); exitTableAjax();"><i class="ion-ios-log-out"></i></a>
            </h3>
        </div>
    </div>
</div>

<div id="scan_qr" class="modal bg-transparent pt-5" style="z-index: 100;">
    <div class="container cart-container bg-transparent p-0">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-10 p-4 bg-light rounded">
                <div class="cart-header d-flex pl-2 pb-0 justify-content-between">
                    <div class="font-weight-bold d-flex align-items-center">
                        <span class="header-message">
                            Scan QR Code<br />
                            <small>Wait to camera on.</small>
                        </span>
                    </div>
                    <span class="close">
                        <button id="closeButton" data-dismiss="modal" class="btn btn-outline-danger font-weight-bold">&#9932</button>
                    </span>
                </div>
                <div class="cart-body">
                    <div id="reader" class="mb-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>