@using AutoServiceMVC.Services.System;
@{
    ViewData["Title"] = "Home";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hello and Welcome back to Admin Dashboard</h1>
</div>
