@{
    ViewData["Title"] = "Home";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Fuel your day, one cup at a time</h1>
                    <p class="mb-4 mb-md-5">A place where passion meets perfection.</p>
                    <p><a asp-controller="Order" asp-action="Index" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> 
                        @if (!User.Identity.IsAuthenticated || User.Identity.AuthenticationType != "User_Scheme")
                        {
                            <a asp-controller="Auth" asp-action="Login" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Login</a>
                        }
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Ready to bring the best quality products</h1>
                    <p class="mb-4 mb-md-5">A place where passion meets perfection.</p>
                    <p>
                        <a asp-controller="Order" asp-action="Index" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                        @if (!User.Identity.IsAuthenticated || User.Identity.AuthenticationType != "User_Scheme")
                        {
                            <a asp-controller="Auth" asp-action="Login" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Login</a>
                        }
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">Contactless ordering and payment experience</h1>
                    <p class="mb-4 mb-md-5">A place where passion meets perfection.</p>
                    <p>
                        <a asp-controller="Order" asp-action="Index" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                        @if (!User.Identity.IsAuthenticated || User.Identity.AuthenticationType != "User_Scheme")
                        {
                            <a asp-controller="Auth" asp-action="Login" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Login</a>
                        }
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="overlap">
            <div class="heading-section ftco-animate ">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Promotion</h2>
            </div>
            <div>
                <p>Go to voucher to get all of your promotion now. Let's login and get up to <b>50%</b> discount for you.</p>
            </div>
        </div>
    </div>
</section>
 
@await Component.InvokeAsync("BestSellerComponent")