@model AutoServiceMVC.Models.Employee
@inject ICommonRepository<Role> roleService
@{
    ViewData["Title"] = "Edit Employee";
    var result = await roleService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Role>)result.Data, "RoleId", "RoleName");
}

<h1 class="h3 mb-4 text-gray-800">
    <a asp-action="Index" class="btn btn-secondary btn-icon-split mt-2">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text font-weight-bold">Employee Management</span>
    </a>
</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        Employee Details
    </div>
    <form asp-action="Edit" class="tm-edit-product-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeeId" />
        <div class="card-body row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId">Role</label>
                    <label asp-for="RoleId"></label>
                    <select asp-for="RoleId"
                            asp-items="dropdownlist"
                            class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" disabled>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @if (Model.EndDate < DateTime.Now)
                {
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" class="form-control" disabled>
                    </div>
                }
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="font-weight-bold btn btn-warning btn-block">Update</button>
                <a href="#" data-toggle="modal" data-target="#deleteModal"
                   class="btn btn-danger btn-block">Lay Off</a>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Layoff employee</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Lay Off" below if you are ready to lay off this employee.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" asp-action="LayOff" asp-route-id="@Model.EmployeeId">Lay Off</a>
            </div>
        </div>
    </div>
</div>