@model AutoServiceMVC.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/img/admin/undraw_mobile_encryption_re_yw3o.svg" class="p-5 w-100 h-100" alt="" srcset="">
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2 font-weight-bold">Change password now</h1>
                <p class="mb-4">Enter new password and again password to change password now</p>
            </div>
            <form asp-action="ChangePassword" method="post" class="user">
                <div class="form-group">
                    <input asp-for="UserId" class="form-control form-control-user" value="@ViewData["Id"]" hidden>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" value="@ViewData["Username"]" disabled>
                </div>
                <div class="form-group">
                    <input asp-for="OldPassword" class="form-control form-control-user" placeholder="Enter old password...">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control form-control-user" placeholder="Enter new password...">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="AgainPassword" class="form-control form-control-user" placeholder="Enter new password again...">
                    <span asp-validation-for="AgainPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Change Password
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small font-weight-bold" asp-action="Profile">Do not want change password?</a>
            </div>
        </div>
    </div>
</div>