@model AutoServiceMVC.Models.Product
@inject ICommonRepository<Category> categoryService
@{
    ViewData["Title"] = "Create Product";
    var result = await categoryService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Category>)result.Data, "CategoryId", "CategoryName");
}

<h1 class="h3 mb-4 text-gray-800">
    <a asp-action="Index" class="btn btn-secondary btn-icon-split mt-2">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text font-weight-bold">Product Management</span>
    </a>
</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3 font-weight-bold">
        Create Product
    </div>

    <form asp-action="Create" class="tm-edit-product-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-white"></div>
        <div class="card-body row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductName"></label>
                    <input asp-for="ProductName" class="form-control">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDescription"></label>
                    <textarea asp-for="ProductDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId"
                            asp-items="@dropdownlist"
                            class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group h-50">
                    <label class="d-none d-md-block" style="opacity: 0;">Hidden</label>
                    <input type="file" name="imageFile" onchange="LoadFile(event)" class="form-control" id="image-upload" accept="image/*" hidden>
                    <div class="border border-dark rounded text-center" style="border: 2.4px dotted!important;">
                        <img src="" class="d-inline-block w-100" alt="" id="preview-img">
                        <label for="image-upload" id="preview-upload">
                            <span class="text-dark">
                                <i class="fas fa-upload h1 py-3"></i>
                            </span>
                            <div class="py-3">
                                Select a image or drag here
                            </div>
                        </label>
                    </div>
                    <label for="image-upload" class="mt-4 d-flex justify-content-between font-weight-bold btn btn-secondary btn-icon-split btn-block">
                        <span class="icon text-white-50">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="text w-100">Upload product image</span>
                    </label>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary btn-block">Add New Product</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/admin/upload-img.js"></script>
}