@model AutoServiceMVC.Models.Coupon
@inject ICommonRepository<UserType> userTypeService
@{
    ViewData["Title"] = "Edit Coupon";
    var result = await userTypeService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<UserType>)result.Data, "UserTypeId", "UserTypeName");
}

<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Detail Coupon</h2>
                </div>
            </div>
            <form asp-action="Edit" class="tm-edit-product-form">
                <div asp-validation-summary="ModelOnly" class="text-white"></div>
                <input type="hidden" asp-for="CouponId" />
                <input type="hidden" asp-for="CreatorId" />
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="CouponCode"></label>
                            <input asp-for="CouponCode" class="form-control validate">
                            <span asp-validation-for="CouponCode" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Quantity"></label>
                            <input asp-for="Quantity" class="form-control validate">
                            <span asp-validation-for="Quantity" class="text-white"></span>
                            @if (Model.Quantity != null)
                            {
                                <p class="text-white">Coupon remaning: @Model.Remain</p>
                            }
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PointAmount"></label>
                            <input asp-for="PointAmount" class="form-control validate">
                            <span asp-validation-for="PointAmount" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserTypeId">User Type</label>
                            <select asp-for="UserTypeId" asp-items="dropdownlist"
                                    class="custom-select tm-select-accounts">
                                <option value="">None</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="StartAt"></label>
                            <input asp-for="StartAt" class="form-control validate">
                            <span asp-validation-for="StartAt" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Creator"></label>
                            <input asp-for="Creator.FullName" class="form-control validate" disabled>
                            <span asp-validation-for="Creator" class="text-white"></span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="DiscountValue"></label>
                            <input asp-for="DiscountValue" class="form-control validate">
                            <span asp-validation-for="DiscountValue" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DiscountPercentage"></label>
                            <input asp-for="DiscountPercentage" class="form-control validate">
                            <span asp-validation-for="DiscountPercentage" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="MinimumOrderAmount"></label>
                            <input asp-for="MinimumOrderAmount" class="form-control validate">
                            <span asp-validation-for="MinimumOrderAmount" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="MaximumDiscountAmount"></label>
                            <input asp-for="MaximumDiscountAmount" class="form-control validate">
                            <span asp-validation-for="MaximumDiscountAmount" class="text-white"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="EndAt"></label>
                            <input asp-for="EndAt" class="form-control validate">
                            <span asp-validation-for="EndAt" class="text-white"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update now</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>